@using niaphilanthropy.com.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.About;
}

<h2>@L("About")!</h2>

<div class="row">
    <div class="col-lg-12">
        @L("About_Description")
    </div>
    file:///F:/UIThemes/themeforest-20645944-pofo-creative-agency-corporate-and-portfolio-multipurpose-template/html/home-portfolio-minimal.html
</div>