@using niaphilanthropy.com.Web.Startup
@{
    ViewBag.ActiveMenu = PageNames.Home;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/js/views/home/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/views/home/index.min.js"></script>
    </environment>
}
<!-- start slider section -->
<section class="wow fadeIn no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-number-pagination swiper-container black-move">
                    <div class="bg-transparent-white opacity-full-dark z-index-5 sm-display-none"></div>
                    <div class="swiper-wrapper">
                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Creativity and Design</span>
                                            <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">We're a design studio that believe in the ideas.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Identities and Experiences</span>
                                            <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">We're an independent web design agency.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                        <!-- start slider item -->
                        <div class="swiper-slide">
                            <div class="slider-half-small-screen position-relative bg-white">
                                <div class="slider-typography text-left">
                                    <div class="slider-text-middle-main">
                                        <div class="slider-text-middle">
                                            <span class="text-extra-large text-middle-line font-weight-300 text-deep-pink display-block margin-two-bottom width-50 xs-width-65">Elevate and Empower</span>
                                            <h2 class="text-extra-dark-gray width-50 display-inline-block font-weight-300 letter-spacing-minus-1 md-width-70 xs-width-80">We are a design & development agency.</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slider item -->
                    </div>
                    <div class="swiper-pagination swiper-number"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end slider section -->
<!-- start masonry portfolio section -->
<section class="no-padding wow fadeIn">
    <div class="container-fluid no-padding">
        <div class="row no-margin">
            <div class="filter-content overflow-hidden">
                <ul class="portfolio-grid work-4col hover-option2">
                    <li class="grid-sizer"></li>
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp">
                        <a href="single-project-page-01.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Herbal Beauty Salon</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
                        <a href="single-project-page-02.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x1600" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Tailoring Interior</span>
                                                <p class="text-white text-uppercase text-extra-small">Web and Photography</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                        <a href="single-project-page-03.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Pixflow Studio</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                        <a href="single-project-page-04.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Kaya Skin Care</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp">
                        <a href="single-project-page-05.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Third Eye Glasses</span>
                                                <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                        <a href="single-project-page-06.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Rubber Studio</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                        <a href="single-project-page-07.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">RedDot Media</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp">
                        <a href="single-project-page-08.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Black and White</span>
                                                <p class="text-white text-uppercase text-extra-small">Branding and Brochure</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.2s">
                        <a href="single-project-page-01.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Banana Design</span>
                                                <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.4s">
                        <a href="single-project-page-02.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Design Blast</span>
                                                <p class="text-white text-uppercase text-extra-small">Web and Photography</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                    <!-- start portfolio item -->
                    <li class="grid-item wow fadeInUp" data-wow-delay="0.6s">
                        <a href="single-project-page-03.html">
                            <figure>
                                <div class="portfolio-img bg-deep-pink"><img src="http://placehold.it/800x800" alt="" /></div>
                                <figcaption>
                                    <div class="portfolio-hover-main text-left">
                                        <div class="portfolio-hover-box vertical-align-bottom">
                                            <div class="portfolio-hover-content position-relative last-paragraph-no-margin">
                                                <div class="bg-black margin-six-bottom separator-line-horrizontal-medium-light2"></div>
                                                <span class="line-height-normal alt-font text-white text-uppercase margin-one-half-bottom display-block font-weight-600">Kaya Skin Care</span>
                                                <p class="text-white text-uppercase text-extra-small">Logo and Identity</p>
                                            </div>
                                        </div>
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <!-- end portfolio item -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end masonry portfolio section -->
<!-- start section -->
<section class="wow fadeIn big-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 sm-text-center wow fadeIn">
                <span class="text-extra-large text-middle-line text-dark-gray display-block margin-five-bottom sm-margin-15px-bottom sm-text-middle-line font-weight-300">Creativity and Design</span>
                <h4 class="text-extra-dark-gray display-inline-block font-weight-300 sm-width-80 sm-center-col xs-width-100">We are creative perfectionists and this lets us go beyond existing framework in developing strategies, as well as in creativity & design.</h4>
            </div>
        </div>
    </div>
</section>
<!-- start section -->
<!-- start client logo section -->
<section class="wow fadeIn big-section bg-extra-dark-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 wow fadeIn sm-text-center">
                <span class="text-extra-large text-middle-line text-dark-gray display-block margin-five-bottom sm-margin-15px-bottom font-weight-300 sm-text-middle-line">Our Expertise and Services</span>
                <h4 class="text-extra-light-gray display-inline-block font-weight-300 sm-width-80 sm-center-col xs-width-100">We create beautifully-crafted websites that stand out from the crowd - and perfect function comes as standard. We combine design and technical craft.</h4>
            </div>
        </div>
        <div class="row margin-six-top xs-margin-30px-top">
            <!-- start client logo item -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-two-bottom sm-text-center xs-margin-one-bottom wow fadeInUp">
                <a href="https://envato.com" target="_blank"><img src="images/logo-9.png" alt="" class="opacity5"></a>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-margin-two-bottom sm-text-center xs-margin-one-bottom wow fadeInUp" data-wow-delay="0.2s">
                <a href="https://woocommerce.com" target="_blank"><img src="images/logo-10.png" alt="" class="opacity5"></a>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-text-center xs-margin-one-bottom wow fadeInUp" data-wow-delay="0.4s">
                <a href="https://magento.com" target="_blank"><img src="images/logo-11.png" alt="" class="opacity5"></a>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-3 col-sm-6 col-xs-12 sm-text-center wow fadeInUp" data-wow-delay="0.6s">
                <a href="https://lesscss.org" target="_blank"><img src="images/logo-12.png" alt="" class="opacity5"></a>
            </div>
            <!-- end client logo item -->
        </div>
    </div>
</section>
<!-- end client logo section -->
<!-- end section -->
<section class="wow fadeIn big-section border-bottom border-color-extra-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-xs-12 wow fadeIn sm-text-center">
                <span class="text-extra-large text-middle-line text-dark-gray display-block margin-five-bottom sm-margin-15px-bottom font-weight-300 sm-text-middle-line">London Based Creative Studio</span>
                <h4 class="text-extra-dark-gray display-block font-weight-300 no-margin-bottom sm-width-80 sm-center-col xs-width-100">301 The Greenhouse,<br>Custard Factory, London, E2 8DY.</h4>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
